mixin section(content)
  section.section
    .section__wrap
      .section__text
        div(class=`margin-top-${content.margin}`)
          .title-h4=content.subtitle
        div(class= 'section__text'+content.add)
          p=content.text
      .section__picture
        img(alt='schedule', src=content.src, width=content.width)
      .section__picturemobile
        img(alt='schedule', src='img/schedulemobile.png', width=565)

